@model IEnumerable<Vidalink.Data.Task>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <h2>&nbsp;&nbsp; Tasks</h2>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExecDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        <a href="@Url.Action("Edit")"><i class="fa fa-2x fa-plus-square"></i></a>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExecDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
