@model IEnumerable<Vidalink.Data.Task>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <h2>&nbsp;&nbsp; Result search</h2>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExecDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Title, "Edit", new { id = item.TaskId })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExecDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
